{% extends "hello/layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <h2>All Logged Exercises</h2>

    {% if filter_form %}
    <form method="POST" class="log-form" enctype= multipart/form-data>
        {% csrf_token %}
        {{ filter_form.as_p }}
        <button type="submit" class="save btn btn-default" name="filter">Filter</button>
    </form>
    {% endif %}
    
    {% if exercise_list %}
        <table class="exercise_list">
            <thead>
            <tr>
                <th>Workout ID</th>
                <th>Name</th>
                <th>Sets</th>
                <th>Reps</th>
                <th>Details</th>
            </tr>
            </thead>
            <tbody>
            {% for exercise in exercise_list %}
                <tr>
                    <td>{{ exercise.workout_id }}</td>
                    <td>{{ exercise.get_exercise_display }}</td>
                    <td>{{ exercise.sets }}</td>
                    <td>{{ exercise.reps }}</td>
                    <td>{{ exercise.details }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> No logged exercises.</p>
    {% endif %}
{% endblock %}