{% extends "hello/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h2>Logged Workouts</h2>

    {% if workout_list %}
        <table class="workout_list">
            <thead>
            <tr>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Length</th>
                <th>ID</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for workout in workout_list %}
                <tr>
                    <td>{{ workout.date | date }}</td>
                    <td>{{ workout.time_start | time }}</td>
                    <td>{{ workout.time_end | time }}</td>
                    <td>{{ workout.length }}</td>
                    <td>{{ workout.id }}</td>
                    <td>
                        <form method="POST" class="log-form" enctype= multipart/form-data>
                            {% csrf_token %}
                            <button type="submit" class="save btn btn-default" name="details" value="{{ workout.id }}">Details</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No workouts have been logged. Use the <a href="{% url 'workout' %}">Log workout form</a>.</p>
    {% endif %}
{% endblock %}